/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }

  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    object-fit: cover;
    object-position: center;
    margin-left: 2rem;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content p {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .project p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    margin: 1rem 5rem;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
